@import "../App.css";

.mainview-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.mainview-container #img-div img{
    margin: 1rem auto;
    border-radius: 50%;
    width: 175px;
    height: 175px;  
    object-fit: cover;
    object-position: center;
    border: 1px solid #07070740;
    filter: drop-shadow(rgba(0, 0, 0, 0.26) 0px 3px 6px);
}
.mainview-container #text-div{
    text-align: center;
}
.mainview-container #text-div h1{
    letter-spacing: .45px;
    text-transform: uppercase;
    margin: 1rem auto;
    font-weight: 700;
}
.mainview-container #text-div p{
    margin-top: 1.5rem;
    letter-spacing: .5px;
    font-style: italic;
    font-weight: 600;
    color: #767676;
    line-height: 1.6rem;
}
.social-icons{
    display: block;
    text-align: center;
    position: absolute;
    bottom: -50%;
}
.social-icons ul{
    display: flex;
    list-style: none;
}
.social-icons ul li{
    list-style: none;
}
.social-icons ul li a i{
    color: var(--main-text-color);
    margin: 0 1rem;
    font-size: 1.2rem;
}
